//====================================================================================================
.footer {
    background: #2E2E2E;
    @include adaptiveValue("padding-top", 64, 48);
    // .footer__container

    &__container {
    }

    // .footer__block

    &__block {
    }

    // .footer__copyright

    &__copyright {
    }
}
.block {
    @include adaptiveValue("padding-bottom", 64, 48);
    display: flex;
    justify-content: space-between;
    gap: rem(30);
    // .block__newsletter

    &__newsletter {
        max-width: rem(486);
    }

    // .block__menu

    &__menu {
        max-width: rem(170);

    }

    // .block__about-block

    &__about {
        max-width: rem(280);
    }
}
.newsletter {

    // .newsletter__title

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("padding-bottom", 16, 10);
        }
    }

    // .newsletter__text

    &__text {
        &:not(:last-child) {
            @include adaptiveValue("padding-bottom", 48, 32);
        }
    }

    // .newsletter__body

    &__body {
    }
}
.newsletter-subscibe {

    // .newsletter-subscibe__label

    &__label {

    }

    // .newsletter-subscibe__line

    &__line {
        gap: rem(16);
        display: flex;

        position: relative;
        .form__error{
            position: absolute;
            bottom: -15px;
            font-size: rem(10);
            color: red;
        }
        @media (max-width:$mobileSmall){
              flex-direction: column;
        }
    }

    // .newsletter-subscibe__input

    &__input { 
        background-color: #ffffff;
        @include adaptiveValue("padding-top", 14, 10);
        @include adaptiveValue("padding-bottom", 14, 10);
        @include adaptiveValue("padding-right", 149, 50);
        @include adaptiveValue("padding-left", 24, 10);


        border-radius: 6px;
    }

    // .newsletter-subscibe__button

    &__button {
    }
}
.menu-block {

    // .menu-block__title

    &__title {
        padding-bottom: rem(24);
    }

    // .menu-block__list

    &__list {
        display: flex;
        gap: rem(16);
        flex-direction: column;
    }

    // .menu-block__item

    &__item {
    }

    // .menu-block__link

    &__link {

        color: #B9B9B9;
    }
}
.about-block {

    // .about-block__title

    &__title {
        padding-bottom: rem(24);
    }

    // .about-block__social

    &__social {
        padding-bottom: rem(56);
    }
}
.social {

    // .social__list

    &__list {
        display: flex;
        gap: rem(32);
    }

    // .social__item

    &__item {
    }
}
.copyright {
    padding: rem(0) rem(49);
    background-color: #242424;
    display: flex;
    @media (max-width:$tablet){
        flex-direction: column;
        gap: rem(15);
        align-items: center;
        text-align: center;
    }
    justify-content: space-between;
    @include adaptiveValue("padding-top", 25, 15);
    @include adaptiveValue("padding-bottom", 25, 15);
    // .copyright__text

    &__text {
        color: #B9B9B9;
        @include adaptiveValue("font-size", 16, 14);
    }

    // .copyright__info

    &__info {
        display: flex;
        @include adaptiveValue("gap", 40, 25);
        color: #ffffff;
        @include adaptiveValue("font-size", 16, 14);
    }

    // .copyright__item

    &__item {
    }

    // .copyright__link

    &__link {
    }
}

//====================================================================================================
